#main{
    /* height: 472px; */
    /* background: rgb(1,1,1);
background: linear-gradient(90deg, rgba(1,1,1,1) 0%, rgba(13,13,142,1) 100%, rgba(0,212,255,1) 100%); */
/* background: rgb(53,63,66); */
/* background: linear-gradient(90deg, rgba(53,63,66,1) 0%, rgba(1,119,167,1) 100%, rgba(0,212,255,1) 100%); */
}
p{
   
    margin: 0;
}
#btn{
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
}
#btn button{
    font-size: 76px;
    background-color: rgb(33, 150, 243);
    color: white;
    border: 0;
    padding: 12px;
}
#tc p{
    margin: 5px;
}
/* h1 span{
    position: relative;
    left: 349px;
} */


#heder{
    background-image: url("./video-bg.png");
    background-size: contain;
    color: #cccccc;
}
.btn{
    border-radius: 0px!important;
    width: 229px;
    border: 0;
    height:40px;
    color: white!important;
    border-color: #cccccc!important;
    background-color:#4a5167!important;
    margin-left: 1px;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #19bced!important;
    background-color: #19bced!important;
}
.btn:active,.btn:focus{
    box-shadow: 0 0 0 0.2rem #19bced!important;
    background-color: #19bced!important; 
    border: 0;
}
.card{

    color: white!important;
    transition: transform .2s; /* Animation */
    margin-left: 10px;
    height: 250px!important;
    width: 210px!important;
    margin: 49px;
    margin-top: 0px;
}
.card:hover{
    transform: scale(1.1);
}
#card1{
    box-shadow: 0 0 51px rgba(232, 95, 112, 0.74);
    background-color: #e85f70!important;
    height: 300px!important;
    width: 250px!important;
}
#card2{
    background-color: #fa8936;
    background-image: linear-gradient(-234deg, #ea9d64 0%, #fa8936 100%);
    box-shadow: 0 0 51px rgba(250, 137, 54, 0.74);
    height: 300px!important;
    width: 250px!important;
}
#card3{
    background-image: linear-gradient(-234deg, #6ae472 0%, #4bc253 100%);
    box-shadow: 0 0 51px rgba(75, 194, 83, 0.74);
    height: 300px!important;
    width: 250px!important;
}
.card img{
    height: 103px;
}
.card-text{
    font-size: 15px;
}
li[aria-selected="true"] .btn{
    box-shadow: 0 0 0 0.2rem #19bced!important;
    background-color: #19bced!important; 
    border: 0;
}  
#token-info p b{
    margin-right: 5px;
} 
.inst{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.inst .card{
    background-color: #1e2641;
    width: 360px!important;
}
.inst .card img{
    height: 50px;
    width: 50px;
    margin: 6px;
}
.coming{
    position: relative;
    top: 17px;
    z-index: 100;
    left: 38px;
}
#offer-cards:hover{
    transform: none;
}
#offer-cards{
    background-image: url("./decor-dots.svg");
}
#offer-cards h2{
    margin: 0px auto;
}
.mainImg{ height: 600px;
    width: 700px} 
    .aboutToken{
        width: 700px;
        height: 500px;
    }
    @media(max-width:1366px){
.inst{
    width:68%
}
#card1{
    box-shadow: 0 0 51px rgba(232, 95, 112, 0.74);
    background-color: #e85f70!important;
    height: 300px!important;
    width: 250px!important;
}
#card2{
    background-color: #fa8936;
    background-image: linear-gradient(-234deg, #ea9d64 0%, #fa8936 100%);
    box-shadow: 0 0 51px rgba(250, 137, 54, 0.74);
    height: 300px!important;
    width: 250px!important;
}
#card3{
    background-image: linear-gradient(-234deg, #6ae472 0%, #4bc253 100%);
    box-shadow: 0 0 51px rgba(75, 194, 83, 0.74);
    height: 300px!important;
    width: 250px!important;
}

    }
@media(max-width:1024px){
   .mainImg{ 
       height:552px;
     width: 435px} 
     .aboutToken {
        width: 447px;
        height: 500px;
    }
    .inst {
        width: 90%;
    }
    .btn{
        height: 60px;
    }
    
}
@media(max-width:800px){
    .mainImg{
        display: none;
    }
    .flip-countdown {
        margin-bottom: 20px!important;
    }
    .aboutToken{
        display: none;
    }
    #tokn{
        justify-content: left!important;
    }
    .inst {
        width: 100%;
    }
    .card{
        margin: 11px;
    }
   
    .flip-countdown {
        width: 494px!important;
    }
  .btn{width: 180px;}
  #tabs{
    padding: 0;
}
.coming {
    position: relative;
    top: 28px;
    z-index: 100;
    left: 0px;
}
}
@media(max-width:440px){
    .flip-countdown{
        width: 271px!important;
    }
    #animeCards{
        flex-direction: column!important;
    }
    .card{
        width: 301px!important;
        margin: 28px;
    }
    .btn{
        width: 93px;
        height: 60px;
    }
    #tabs{
        padding: 0;
    }
    #offer-cards{
        margin: 16px;
        width: 342px!important;
    }
    .coming {
        position: relative;
        top: 32px;
        z-index: 100;
        left: 5px;
    }
    #heder{
        padding: 8px;
    }
    #card1{
        margin-left: 62px;
    }
    #card2{
        margin-left: 62px;
    }
    #card3{
        margin-left: 62px;
    }
}