#main{
    /* height: 472px; */
    /* background: rgb(1,1,1);
background: linear-gradient(90deg, rgba(1,1,1,1) 0%, rgba(13,13,142,1) 100%, rgba(0,212,255,1) 100%); */
/* background: rgb(53,63,66); */
/* background: linear-gradient(90deg, rgba(53,63,66,1) 0%, rgba(1,119,167,1) 100%, rgba(0,212,255,1) 100%); */
}
p{
   
    margin: 0;
}
#btn{
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
}
#btn button{
    font-size: 76px;
    background-color: rgb(33, 150, 243);
    color: white;
    border: 0;
    padding: 12px;
}
#tc p{
    margin: 5px;
}
/* h1 span{
    position: relative;
    left: 349px;
} */


#heder{
    background-image: url("./video-bg.png");
    background-size: contain;
    color: #cccccc;
}
.btn{
    border-radius: 0px!important;
    width: 196px;
    border: 0;
    height:40px;
    color: white!important;
    border-color: #cccccc!important;
    background-color:#4a5167!important;
    margin-left: 1px;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #19bced!important;
    background-color: #19bced!important;
}
.btn:active,.btn:focus{
    box-shadow: 0 0 0 0.2rem #19bced!important;
    background-color: #19bced!important; 
    border: 0;
}
.card{

    color: white!important;
    transition: transform .2s; /* Animation */
    margin-left: 10px;
    height: 250px!important;
    width: 210px!important;
    margin: 49px;
    margin-top: 0px;
}
.card:hover{
    transform: scale(1.1);
}
#card1{
    box-shadow: 0 0 51px rgba(232, 95, 112, 0.74);
    background-color: #e85f70!important;
    height: 300px!important;
    width: 250px!important;
}
#card2{
    background-color: #fa8936;
    background-image: linear-gradient(-234deg, #ea9d64 0%, #fa8936 100%);
    box-shadow: 0 0 51px rgba(250, 137, 54, 0.74);
    height: 300px!important;
    width: 250px!important;
}
#card3{
    background-image: linear-gradient(-234deg, #6ae472 0%, #4bc253 100%);
    box-shadow: 0 0 51px rgba(75, 194, 83, 0.74);
    height: 300px!important;
    width: 250px!important;
}
.card img{
    height: 103px;
}
.card-text{
    font-size: 15px;
}
li[aria-selected="true"] .btn{
    box-shadow: 0 0 0 0.2rem #19bced!important;
    background-color: #19bced!important; 
    border: 0;
} 
#token-info{
    letter-spacing: 1px;
} 
#token-info p b{
    margin-right: 5px;
} 
.inst{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.inst .card{
  
    width: 360px!important;
}
.inst .card img{
    height: 50px;
    width: 50px;
    margin: 6px;
}
.inst > div{
    margin-left: 20px;
    margin-top: 15px;
}
.coming{
    position: relative;
    top: -9px;
    z-index: 100;
    left: -35px;
    width: 150px!important;
    height: 39px!important;
}
#offer-cards:hover{
    transform: none;
}
#offer-cards{
    /* position: relative;
    top: -23px; */
    background-color: transparent;
    margin: 0;
    border: 0px;
}
.inst .flippy-front,.inst .flippy-back{
    background-image: url("./decor-dots.svg")!important;
    margin: 0;
    padding: 16px;
    border-radius: 5px;
    background-color: #1e2641!important;
}
.flippy-container{
    height: 300px;
}
#offer-cards h2{
    margin: 0px auto;
}
#offer-cards .card-body{
    padding: 25px;
}
#offer-cards p{
    font-weight: bolder;
}
.mainImg{ height: 600px;
    width: 700px} 
    .aboutToken{
        width: 700px;
    height: 571px;
    }
    .card-text{
        letter-spacing: 1px;
    }
    .token-vesting{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }
    .token-vesting h1{
font-weight: 200;
    }
    .table-info, .table-info > th, .table-info > td {
        background-color: #f3fdff!important;
       
    }
    #vest-tabl{
        width: 100%!important;
    }
    tbody{
        font-weight: 200;
    }
    th{
        font-weight: 400;
    }
    .table th, .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 0px!important;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 0px!important;
        color: #adabab!important;
        font-weight: 200;
    }
    .token-distribution{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(30, 38, 65);
        color: white;
        padding: 50px;
        margin-top: 58px;
    }
    .token-distribution > h1{
        position: relative;
        top: 118px;
    }
    .bg-tkn{
        /* display: none; */
        left: 50%;
        text-align: center;
        /* -webkit-transform: translateX(-50%); */
        -ms-transform: translateX(-50%);
        /* transform: translateX(-50%); */
        top: -10px;
        font-size: 152px;
        font-family: Raleway;
        font-weight: 700;
        background: -webkit-linear-gradient(#d047e4,#ff4e3d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: .08;
        line-height: 1;
        white-space: nowrap;
        position: static;
    }
    .chart__legend span {
        height: 16px;
        display: inline-block;
        /* background-image: -webkit-gradient(linear,left top,right top,from(#ed8a4c),to(#ea485c));
        background-image: -webkit-linear-gradient(left,#ed8a4c 0,#ea485c 100%); */
        background-image: -o-linear-gradient(left,#ed8a4c 0,#ea485c 100%);
        background-image: linear-gradient(to right,#ed8a4c 0,#ea485c 100%);
        /* -webkit-border-radius: 3px; */
        border-radius: 3px;
        margin-right: 20px;
    }
    .flippy-front img{
        width: 150px;
        height: 100px;
    }
    #tab-panel{
        margin: 151px auto!important;
    }
    .card-text ul li{
        font-size: 17px;
    }
    .Details-t{
        background-image: url("./docs-bg.png");
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin: 46px;
        background-size: auto;
    }
    .Details-t h1{
        text-align: center
    }
    .token-detail ul{
       list-style: none;
       font-weight: 300;
    }
    .token-detail ul li{
        margin: 20px;
        font-size: 20px;
    }
    .token-detail ul li b{
        font-weight: bold;
    font-size: 25px;
    }
    .token-detail{
        display: flex;
        align-items: end;
        justify-content: flex-start;
    }
    .Benefits{
        background-color: rgb(30, 38, 65);
        color: white;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        background-image: url("./docs-bg.png");
    }
    .Benefits h1{
        text-align: center;
        padding: 20px;
    }
    .Benefits > div{
        padding: 128px;
    }
    @media(max-width:2020px){
        .inst {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        
        .mainImg {
            height: 600px;
            width: 700px;
        }

    }
    @media(max-width:1368px){
        .mainImg {
            height: 600px;
            width: 590px;
        }
        .inst {
            width: 89%;
            margin: auto;
            display: flex;
            justify-content: center;
        }
/* .inst{
    width:68%
} */
#card1{
    box-shadow: 0 0 51px rgba(232, 95, 112, 0.74);
    background-color: #e85f70!important;
    height: 300px!important;
    width: 250px!important;
}
#card2{
    background-color: #fa8936;
    background-image: linear-gradient(-234deg, #ea9d64 0%, #fa8936 100%);
    box-shadow: 0 0 51px rgba(250, 137, 54, 0.74);
    height: 300px!important;
    width: 250px!important;
}
#card3{
    background-image: linear-gradient(-234deg, #6ae472 0%, #4bc253 100%);
    box-shadow: 0 0 51px rgba(75, 194, 83, 0.74);
    height: 300px!important;
    width: 250px!important;
}

    }
@media(max-width:1024px){
   .mainImg{ 
       height:552px;
     width: 435px} 
     .aboutToken {
        width: 447px;
        height: 500px;
    }
    .inst {
        width: 92%;
    }
    .btn{
        height: 60px;
    }
    #tabs{
        padding: 0;
    }
    /* .card{
        margin: 11px;
    } */
}
@media(max-width:800px){
    .mainImg{
        display: none;
    }
    .flip-countdown {
        margin-bottom: 20px!important;
    }
    .aboutToken{
        display: none;
    }
    #tokn{
        justify-content: left!important;
    }
    .inst {
        width: 100%;
    }
    .card{
        margin: 11px;
    }
   
    .flip-countdown {
        width: 494px!important;
    }
  .btn{width: 180px;}
  #tabs{
    padding: 0;
}
.coming {
    position: relative;
    top: 28px;
    z-index: 100;
    left: 0px;
}

}
@media(max-width:440px){
    .flip-countdown{
        width: 271px!important;
    }
    #animeCards{
        flex-direction: column!important;
    }
    .card{
        width: 301px!important;
        margin: 28px;
    }
    .btn{
        width: 93px;
        height: 60px;
    }
    #tabs{
        padding: 0;
    }
    #offer-cards{
        /* margin: 16px; */
        width: 342px!important;
    }
    .coming {
        position: relative;
        top: 32px;
        z-index: 100;
        left: 5px;
    }
    #heder{
        padding: 8px;
    }
    #card1{
        margin-left: 62px;
    }
    #card2{
        margin-left: 62px;
    }
    #card3{
        margin-left: 62px;
    }
}